{% load static %}
<div class="container" style="background-color: white;">
    <div class="shopping-cart">
      {% if user.is_authenticated %}
      <div class="shopping-cart-header row">
        <div class="shopping-cart-count col-6">
          <span>Товарів:</span>
          <span class="p-count"></span>
        </div>
        <div class="shopping-cart-total col-6">
          <span class="p-amount"></span>
          <span> грн.</span>
        </div>
      </div> <!--end shopping-cart-header -->
  
      <div class="shopping-cart-items">
        <!-- {% if cart_items %}
        {% for item in cart_items|dictsort:"name" %}
        <div class="product-widget">
          <a href="#" class="row">
            <div class="col-3">
              <img src="{% static 'img/cart.jpg' %}" alt="item1" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12">
                  <span class="item-name">{{ item.name }}</span>
                </div>
                <div class="col-10 text-right qnt-pr">
                  <span class="item-quantity">01</span>
                  <span> x </span>
                  <span class="item-price">{{ item.price|floatformat:"2" }}</span>
                  <span> грн.</span>
                </div>
              </div>
            </div>
          </a>
          <button class="delete" id="{{ item.id }}">x</button>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center"><p>Кошик порожній</p></div>
        {% endif %} -->
        <div class="text-center">
          <a href="/cart" class="btn_1">Переглянути</a>
        </div>
      {% else %}
      <div class="purpose text-center">
        <p>Кошик порожній</p>
        <span>
          Ознайомтеся з нашими <a href="#">Акціями</a>
        </span>
      </div>
      {% endif %}
    </div> <!--end shopping-cart -->