{% load static %}
<div class="container" style="background-color: white;">
    <div class="shopping-cart">
      <div class="shopping-cart-header row">
        <div class="shopping-cart-count col-6">
          <span><u>Товарів:</u> </span>
          <span id="c-count"></span>
        </div>
        <div class="shopping-cart-total col-6">
          <span>UAH: </span>
          <span id="t-count">2,229.97</span>
        </div>
      </div> <!--end shopping-cart-header -->
  
      <div class="shopping-cart-items">
        <div class="product-widget">
          <a href="#" class="row">
            <div class="col-3">
              <img src="{% static 'img/cart.jpg' %}" alt="item1" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12">
                  <span class="item-name">Sony DSC-RX100M III</span>
                </div>
                <div class="col-6">
                  <span class="item-quantity">Кількість: 01</span>
                </div>
                <div class="col-6">
                  <span class="item-price">849.99</span>
                </div>
              </div>
            </div>
          </a>
          <button class="delete">x</button>
        </div>
        <div class="product-widget">
          <a href="#" class="row">
            <div class="col-3">
              <img src="{% static 'img/cart.jpg' %}" alt="item1" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12">
                  <span class="item-name">Sony DSC-RX100M III</span>
                </div>
                <div class="col-6">
                  <span class="item-quantity">Кількість: 01</span>
                </div>
                <div class="col-6">
                  <span class="item-price">849.99</span>
                </div>
              </div>
            </div>
          </a>
          <button class="delete">x</button>
        </div>
        <div class="product-widget">
          <a href="#" class="row">
            <div class="col-3">
              <img src="{% static 'img/cart.jpg' %}" alt="item1" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12">
                  <span class="item-name">Sony DSC-RX100M III</span>
                </div>
                <div class="col-6">
                  <span class="item-quantity">Кількість: 01</span>
                </div>
                <div class="col-6">
                  <span class="item-price">849.99</span>
                </div>
              </div>
            </div>
          </a>
          <button class="delete">x</button>
        </div>
      </div>
      <div class="text-center">
        <a href="#" class="btn_1">Checkout</a>
      </div>
    </div> <!--end shopping-cart -->