{% extends 'layouts/base.html' %}
{% block title %}Реєстрація{% endblock title %}
{% block caption %}Сторінка Реєстрація{% endblock caption %}

{% block content %}
{% load static %}

    <!--================logon_part Area =================-->
    <section class="login_part padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Вперше у нас? <br> Зареєструйтесь <i class="fa fa-hand-point-down"></i></h3>
                            <form method="post" class="row reg-form">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="col-md-6 form-group mt-3">
                                    <span>{{ field.label }}</span><br>
                                    {{ field }}
                                </div>
                                {% endfor %}                                
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3">Реєстрація</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Вже маєте обліковий запис?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="/account/signin" class="btn_3">Вхід</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--================logon_part end =================-->
    <script src="{% static 'js/mask-phone-number.js' %}"></script>
    <script>
    $(document).ready(function(){
        $('input').addClass("form-control");

        $('#id_username').usPhoneFormat({
            format: 'xxx-xxx-xxxx',
        });

        $('#id_email, #id_username').keyup((e) => {
            var whattocheck = e.target.id === 'id_username' ? 'username' : 'email';
            var input_val = e.target.value;
            // console.log(whattocheck + ': ' + input_val);
            if (input_val != '') {
                $.ajax({
                    type: 'GET',
                    url: '/account/checkinput',
                    data: {'whattocheck': whattocheck, 'input_val': input_val},
                    dataType: 'json',
                    success: (data) => {
                        if (data.valid) {
                            // console.log(data);
                            if (whattocheck == 'username') {
                                // alert("You cannot create a USERNAME with same nick name");
                                $('<span class="error">Такий номер вже існує. Введіть інший.</span>')
                                    .insertAfter('#id_' + whattocheck);
                            } else {
                                // alert("E-mail allready exist! Try another one");
                                $('<span class="error">Такий E-mail вже існує. Введіть інший.</span>')
                                    .insertAfter('#id_' + whattocheck);
                            }
                            $('#id_' + whattocheck).val("").focus();
                        } else {
                            $('span.error').remove();
                            // console.log('User or E-mail is NEW!' + data.valid)
                        }
                    },
                    error: (data) => {
                        $('span.error').remove();
                        console.log(data.responseJSON.errors)
                    }
                });
            } else {
                $(".username_error").remove();
            }
        });

        (function($) {
            "use strict";
            // validate contactForm form
            $(function() {
                $('.reg-form').validate({
                    rules: {
                        f_name: { required: true, minlength: 2 },
                        l_name: { required: false, minlength: 2 },
                        password1: { required: true,  minlength: 8 },
                        password2: { required: true, minlength: 8, equalTo: "#id_password1" },
                        username: { required: true, minlength: 12 },
                        email: { required: true, email: true }
                    },
                    messages: {
                        f_name: {
                            required: "у вас же є <strong>Ім\'я</strong>, чи не так?",
                            minlength: "Не менше ніж <strong>2</strong> літери"
                        },
                        l_name: {
                            minlength: "Не менше ніж <strong>2</strong> літери"
                        },
                        username: {
                            required: "Ну ж, у вас є номер телефону, чи не так?",
                            minlength: "Формат: xxx-xxx-xxxx"
                        },
                        email: {
                            required: "намає E-mail - не буде спілкування"
                        },
                        password1: { 
                            required: "не можете придумати Пароль?",
                            minlength: "Мінімум <strong>8</strong> символів"
                        },
                        password2: {
                            required: "не можете пригадати щойно введений Пароль?",
                            minlength: "Мінімум <strong>8</strong> символів",
                            equalTo: "Будь ласка, введіть такий же самий пароль"
                        }
                    }
                })
            })
        })(jQuery)
    })        
    </script>
    
{% endblock content %}