{% extends 'layouts/base.html' %}
{% block title %}Реєстрація{% endblock title %}
{% block caption %}Сторінка Реєстрація{% endblock caption %}

{% block content %}
{% load static %}

    <!--================logon_part Area =================-->
    <section class="login_part padding_top">
        {% if messages %}
        <div class="alert alert-dismissible" role="alert">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Вперше у нас? <br> Зареєструйтесь <i class="fa fa-hand-point-down"></i></h3>
                            <form method="post" class="row reg-form justify-content-center">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="col-md-6 form-group mt-3">
                                    <span>Номер телефону:</span><br/>
                                    <input type="text" class="form-control" id="id_username" name="username" 
                                            placeholder="Формат: 0xx-xxx-xxxx" required/>
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <span>Електрона адреса:</span><br/>
                                    <input type="email" class="form-control" id="id_email" name="email" required />
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <span>Ім'я:</span><br/>
                                    <input type="text" class="form-control" id="id_first_name" name="first_name" required />
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <span>Прізвище:</span><br/>
                                    <input type="text" class="form-control" id="id_last_name" name="last_name" />
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <span>Пароль:</span><br/>
                                    <input type="password" class="form-control" id="id_password1" name="password1"  required />
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <span>Повторіть пароль:</span><br/>
                                    <input type="password" class="form-control" id="id_password2" name="password2"  required />
                                </div>
                                <input type="hidden" name="next" value="{{ request.path|urlencode }}">                           
                                <div class="form-group">
                                    <button type="submit" value="submit" class="btn_3">Реєстрація</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Вже маєте обліковий запис?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="/account/signin" class="btn_3">Вхід</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--================logon_part end =================-->
    <script src="{% static 'js/mask-phone-number.js' %}"></script>
    <script>
    $(document).ready(function(){
        // $('input').addClass("form-control");

        $('#id_username').usPhoneFormat({
            format: 'xxx-xxx-xxxx',
        });

        $('#id_email, #id_username').keyup((e) => {
            var whattocheck = e.target.id === 'id_username' ? 'username' : 'email';
            var input_val = e.target.value;
            // console.log(whattocheck + ': ' + input_val);
            if (input_val != '') {
                $.ajax({
                    type: 'GET',
                    url: '/account/checkinput',
                    data: {'whattocheck': whattocheck, 'input_val': input_val},
                    dataType: 'json',
                    success: (data) => {
                        if (data.valid) {
                            // console.log(data);
                            if (whattocheck == 'username') {
                                // alert("You cannot create a USERNAME with same nick name");
                                $('<span class="error">Такий номер вже існує. Введіть інший.</span>')
                                    .insertAfter('#id_' + whattocheck);
                            } else {
                                // alert("E-mail allready exist! Try another one");
                                $('<span class="error">Такий E-mail вже існує. Введіть інший.</span>')
                                    .insertAfter('#id_' + whattocheck);
                            }
                            $('#id_' + whattocheck).val("").focus();
                        } else {
                            $('span.error').remove();
                            // console.log('User or E-mail is NEW!' + data.valid)
                        }
                    },
                    error: (data) => {
                        $('span.error').remove();
                        console.log(data.responseJSON.errors)
                    }
                });
            } else {
                $("span_error").remove();
            }
        });

        (function($) {
            "use strict";
            // validate contactForm form
            $(function() {
                $('.reg-form').validate({
                    rules: {
                        first_name: { required: true, minlength: 2 },
                        last_name: { required: false, minlength: 2 },
                        password1: { required: true,  minlength: 8 },
                        password2: { required: true, minlength: 8, equalTo: "#id_password1" },
                        username: { required: true, minlength: 12 },
                        email: { required: true, email: true }
                    },
                    messages: {
                        first_name: {
                            required: "у вас же є <strong>Ім\'я</strong>, чи не так?",
                            minlength: "Не менше ніж <strong>2</strong> літери"
                        },
                        last_name: {
                            minlength: "Не менше ніж <strong>2</strong> літери"
                        },
                        username: {
                            required: "Ну ж, у вас є номер телефону, чи не так?",
                            minlength: "Формат: 0xx-xxx-xxxx"
                        },
                        email: {
                            required: "намає E-mail - не буде спілкування"
                        },
                        password1: { 
                            required: "не можете придумати Пароль?",
                            minlength: "Мінімум <strong>8</strong> символів"
                        },
                        password2: {
                            required: "не можете пригадати щойно введений Пароль?",
                            minlength: "Мінімум <strong>8</strong> символів",
                            equalTo: "Будь ласка, введіть такий же самий пароль"
                        }
                    }
                })
            })
        })(jQuery)
    })        
    </script>
    
{% endblock content %}