{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>{{ page_title }}</h2>
                            <p><a href="/">Головна</a> <span>-</span>Магазин</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Категорія</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    {% for c in all_categories %}
                                    <li>
                                        <a href="#">{{ c.name }}</a>
                                        <span>(0)</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Виробник</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    {% for p in all_producers %}
                                    <li>
                                        <a href="#">{{ p.name }}</a>
                                        <span>(0)</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Колір</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    {% for c in all_colors %}
                                    <li>
                                        <a href="#">{{ c.name }}</a>
                                        <span>(0)</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            <div class="l_w_title">
                                <h3>Ціна</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <!-- <div id="slider-range"></div> -->
                                    <input type="text" class="js-range-slider" value="" />
                                    <div class="d-flex">
                                        <div class="price_text">
                                            <p>від</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>до</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                    <p><span>10000 </span> Prodict Found</p>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>short by : </h5>
                                    <select>
                                        <option data-display="Select">name</option>
                                        <option value="1">price</option>
                                        <option value="2">product</option>
                                    </select>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>show :</h5>
                                    <div class="top_pageniation">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search"
                                            aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center latest_product_inner">
                        {% for p in paginate_products %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <a href="/store/detail/{{ p.id }}"><img src="../media/{{ p.photo }}" alt=""></a>
                                <div class="single_product_text">
                                    <h4>{{ p.name }}</h4>
                                    <h3>{{ p.price|floatformat:"2g" }}</h3>
                                    <div class="cart-wish text-center" id="{{ p.id }}">
                                        <button class="add_wish"><i class="ti-heart"></i></button>
                                        <button class="add_cart"><i class="fas fa-cart-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <div class="col-lg-12">
                            <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if paginate_products.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1"><i class="ti-angle-double-left"></i></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ paginate_products.previous_page_number }}">
                                                <i class="ti-angle-left"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li class="page-item">
                                            <span class="page-link">{{paginate_products.number }} з {{ paginate_products.paginator.num_pages }}</span>
                                        </li>
                                        {% if paginate_products.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ paginate_products.next_page_number }}">
                                                <i class="ti-angle-right"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ paginate_products.num_number }}">
                                                <i class="ti-angle-double-right"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 1-->
        {% include 'store/modal1.html' %}
        <!--/End Modal 1 -->
    </section>
    <script src="{% static 'js/store.js' %}"></script>
    <style>
        .wish-div {
            position: absolute;
            top: 4.6 rem;
            right: 1.6 rem;
            z-index: 2;
        }
        .wish-div .wishlist {
            background-color: var(--color-white);
            border-radius: 50%;
        }
        .cursor-pointer {
            cursor: pointer!important;
        }
        .wish-div .icon-lg {
            display: flex;
            width: 4 rem;
            height: 4 rem;
            border: 1px solid var(--color-gray-90);
            border-radius: 50%;
            color: var(--color-very-light-gray);
            justify-content: center;
            align-items: center;
        }
    </style>
    <!--================End Category Product Area =================-->
{% endblock %}